{% extends 'main_blog/base.html' %}

{%block title%} my_blog {% endblock %}
{% block content%}
<div  align="center" >
    <div style="max-width: 65% ; margin : 200 px" align="left">
        <div>
            <br><h1 align="center">Различные блоги</h1><br>
        </div>
        <div align="right">
         <button  type="submit">Подписаться\отписаться</button>
            <br><br>
        </div>
        <div style="max-width: 23% ; float: left" align="left">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed, sint sit tenetur totam velit.
        </div>
        <div style="max-width: 54% ; float: left ; display: inline ; padding: 20px" align="center" >
            <div style="display: inline ">
                <img align="left" src="https://pypik.ru/uploads/posts/2018-09/1536907413_foto-net-no-ya-krasivaya-4.jpg" alt="blog_icon" width="172" height="172">
            </div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, architecto consequatur corporis dignissimos dolorem dolorum eius eligendi eos expedita impedit in ipsa maxime nobis odio officiis quasi quidem, sapiente!lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque magnam quas rerum voluptatum? Aliquam aperiam beatae dolores, est ex excepturi iure, maiores necessitatibus quibusdam, repudiandae sequi similique soluta vero.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed, sint sit tenetur totam velit.
            <br>
            <b>Дата публикации</b>
        </div>

        <div style="max-width: 23% ; float: left" align="right">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed, sint sit tenetur totam velit.
            <br><br>
        </div>

    </div>

</div>
{% endblock %}