{% extends 'main_blog/base.html' %}

{%block title%} my_blog {% endblock %}
{% block content%}
<div align="center">
    <div style="width: 65% ; margin : 200 px" align="center">
        <div>
            <br>
            <h1 align="center">Различные блоги</h1><br>
        </div>
        <div align="right">
            <button type="submit">Подписаться\отписаться</button>
        </div>
        <br><br>
        <div style="position:relative;clear: both">
        <div style="position:relative">
            <div style="position:absolute; left: 0; top : 0 ;width: 20%">
                1111Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea
                laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed, sint
                sit tenetur totam velit.
            </div >
            <div style=" position:absolute; left: 20%;width: 60%;  top : 0  " align="left">
                {%for el in post_list%}
                    <div style="clear: both;margin-both:20px">
                        <img align="left"
                             src="https://pypik.ru/uploads/posts/2018-09/1536907413_foto-net-no-ya-krasivaya-4.jpg"
                             alt="blog_icon" width="100" height="100">
                        <h6>{{el.author}}</h6>

                        <div align="center">{{el.text_post}}</div>
                        <br>
                        <div align="right"><b>Дата публикации {{el.data_post}}</b></div>
                    <br>
                    </div>
                <br><br>
                {%endfor%}


            </div>
            <div style="position:absolute; right: 0; top : 0 ;width: 20%">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea
                laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed,
                sint sit tenetur totam velit.
                <br><br>
            </div>
            </div>
            </div><

            <div style=" clear: both" align="right" >
            <button type="submit">Добавить статью</button>
        </div>/div>

</div>

    {% endblock %}
