{% extends 'main_blog/base.html' %}

{%block title%} my_blog {% endblock %}
{% block content%}
<div  align="center" >
    <div style="max-width: 65% ; margin : 200 px" align="left">
        <div>
            <br><h1 align="center">Различные блоги</h1><br>
        </div>
        <div style="max-width: 23% ; float: left" align="left">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed, sint sit tenetur totam velit.
        </div>
        <div style="max-width: 54% ; float: left" align="center">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed, sint sit tenetur totam velit.
        </div>
        <div style="max-width: 23% ; float: left" align="right">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis distinctio dolor ea laudantium, maiores perferendis placeat possimus quaerat quam quibusdam quisquam quod recusandae sed, sint sit tenetur totam velit.
        </div>
    </div>
</div>
{% endblock %}