{% extends 'main_blog/base.html' %}
{%block title%} login {% endblock %}
{% block content%}
<div align="center">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <h1>Пожалуйста войдите в систему</h1>
    <img src="https://upload.wikimedia.org/wikipedia/ru/4/4f/Poleznyblog_logo.png" alt="blog_icon" width="172"
             height="172">
    {% if form.errors %}
  <h3>Неверный логин или пароль. Пожалуйста войдите в систему</h3>
{% endif %}

        <table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>
        <br><br>
        <button type="submit" class="btn btn-success">Войти в систему</button>

</form>
</div>
{%endblock%}